@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: blanchedalmond;
  color: black;
  overflow: hidden;
  font-family: "Roboto Slab", serif;
}

.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
}

#navbar {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: white;
  top: 0;
  z-index: 1;
  display: flex;
}

#navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

#navbar ul li {
  margin: 0 20px;
  padding: 10px;
}

#navbar ul li a {
  text-decoration: none;
  color: blue;
}

#navbar ul li a:hover {
  font-size: 2rem;
  color: black;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  /* scroll-snap-align: center; */
}

section h1 {
  font-size: 4rem;
}

section p {
  font-size: 1.5rem;
}

section#home {
  background: url(./public/images/Free-to-Use.jpg) no-repeat center 100% / cover;
}
section#about {
  background: url(./public/images/Games.jpg) no-repeat center 100% / cover;
}
section#projects {
  background: url(./public/images/snow.jpg) no-repeat center 100% / cover;
}
section#contact {
  background: url(./public/images/space.jpg) no-repeat center 100% / cover;
}

section h1.title {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 3px;
  font-weight: bold;
}

section#about p {
  position: relative;
  top: 5%;
  width: 60%;
  line-height: 25px;
}

hr {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  height: 15px;
  background-color: #666;
  opacity: 0.5;
  border: 0 none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: center;
}
